.dashboard-container {
  padding: 20px;
  min-height: calc(100vh - 65px);
  background-image: url('..\assets\pexels-cottonbro-7578803.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}

.dashboard-content {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay for readability */
  padding: 20px;
  border-radius: 10px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.chat-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}